<!-- /templates/page.test.liquid -->
<div class="grid--full">
  <div class="grid__item large--one-third">
    <p class="grid-demo">{{ page.title }}</p>
  </div>
  <div class="grid__item large--one-third">
    <p class="grid-demo">{{ page.content }}</p>
  </div>
  <div class="grid__item large--one-third">
    <p class="grid-demo">1.3</p>
  </div>
</div>